
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

@import "reset";
@import "bourbon";
@import "colors";
@import "sizes";

* {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $main-color;

	&:visited {
		color: $dark-main-color;
	}
}

ul {
	list-style: none;

	li:before {
		content: '●';
		padding-right: 5px;
	}
}

#editor ul li:before {
	content: '';
}

body {
	display: box;

	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-flow: row nowrap;
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	justify-content: flex-start;
	align-items: stretch;

	background: url(/images/absurdidad.png);
}

/* CONTAINER */
#container {
	width: 100%;

	display: box;

	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-flow: column nowrap;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	justify-content: space-between;

	/* HEADER */
	#header {
		width: 100%;
		height: $header-height;

		@media (max-width: 696px) {
			height: $header-height + 50px;
		}

display: box;

		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

		flex-flow: row nowrap;
		box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-box-orient: horizontal;
		justify-content: center;
		align-items: stretch;

		/* MAIN HEADER CONTENTS */
		.main {
			width: $main-width;

			box-shadow: 0px 0px 10px $box-shadow-color;
			background: white;

			box-sizing: border-box;

display: box;

			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

			flex-flow: row nowrap;
			box-orient: horizontal;
			-moz-box-orient: horizontal;
			-webkit-box-orient: horizontal;
			justify-content: space-between;
			align-items: stretch;

			padding: 10px;
			padding-top: 0px;

			@media (max-width: 1024px) {
				flex-flow: column nowrap;
				box-orient: vertical;
				-moz-box-orient: vertical;
				-webkit-box-orient: vertical;
			}

			.logo {
				width: 300px;				
				height: 100px;
				
				margin-right: 10px;
				margin-top: 10px;

				@media (max-width: 1024px) {
					margin-bottom: 5px;
					align-self: center;
				}
			}

			.menu {
				width: 100%;
				
				flex: 1;
				
				display: box;

				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

				flex-flow: row wrap;
				box-orient: horizontal;
				-moz-box-orient: horizontal;
				-webkit-box-orient: horizontal;
				justify-content: flex-end;

				text-align: center;

				@media (max-width: 1024px) {
					justify-content: space-between;
				}

				.button {
					transform: translate3d(0, 0, 0);
					-webkit-transform: translate3d(0, 0, 0);
					z-index: $very-high;				
				}

				& > a {
					width: 140px;
					height: 60px;

display: box;

					display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

					flex-flow: column wrap;
					box-orient: vertical;
					-moz-box-orient: vertical;
					-webkit-box-orient: vertical;
					justify-content: center;
					align-items: center;

					background: $main-color;
					
					color: $back-color;
					text-shadow: 0 -1px 2px $text-shadow-color;	

					padding-left: 2px;
					padding-right: 2px;

					margin-left: 1px;
					margin-right: 1px;

					font-size: 22px;

					transition: all 0.2s ease-in;

					&:hover {
						height: 70px;
						transition: all 0.2s ease-in;
					}

					@media (max-width: 1024px) {
						height: 40px;
						
						margin-bottom: 1px;

						padding-top: 5px;
						
						font-size: 16px;

						display: block;

						&:hover {
							height: 40px;
						}
					}
				}

				.push-down {
					padding-top: 20px;
				}

				.columnize {
					background: $main-color;

					color: $back-color;

					flex-flow: column wrap;
					box-orient: vertical;
					-moz-box-orient: vertical;
					-webkit-box-orient: vertical;
/*		
					padding: 10px;
					padding-left: 20px;
					padding-right: 20px;

					margin-top: 20px;
					margin-right: 42px;					
*/

					a {						
						width: 140px;
						height: 60px;

						transform: translate3d(0, 0, 0);
						-webkit-transform: translate3d(0, 0, 0);
						z-index: $very-high;
						padding: 10px;

						margin: 10px;

						display: box;

						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

						flex-flow: column wrap;
						box-orient: vertical;
						-moz-box-orient: vertical;
						-webkit-box-orient: vertical;
						justify-content: center;
						align-items: center;

						background: $main-color;
						
						color: $dark-back-color;

						text-shadow: 0 -1px 2px $text-shadow-color;	

						padding-left: 2px;
						padding-right: 2px;

						margin-left: 1px;
						margin-right: 1px;

						font-size: 16px;

						transition: all 0.2s ease-in;

						&:hover {
							height: 60px;
							color: white;
							transition: all 0.2s ease-in;
						}
					}
				
				}				

				
			}
		}
	}

	/* BANNER */
	#banner {		
		width: 100%;
		height: $banner-height;

display: box;

		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

		flex-flow: row nowrap;
		box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-box-orient: horizontal;
		justify-content: center;
		align-items: stretch;

		background: $main-color;
		
		/* MAIN BANNER CONTENTS */
		.main {
			width: $main-width;

display: box;

			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			flex-flow: row nowrap;
			box-orient: horizontal;
			-moz-box-orient: horizontal;
			-webkit-box-orient: horizontal;
			justify-content: space-between;			
			align-items: center;

			box-sizing: border-box;

			padding-left: 22px;
			padding-right: 12px;

			/* HEADER */
			h1 {
				color: #eee;
				font-weight: 400px;
				text-shadow: 0 -1px 2px $text-shadow-color;	

				@media (max-width: 1024px) {
					font-size: 22px;
				}
			}

			#apply-button {
				font-size: 22px;
				font-weight: 600;

				margin-right: 10px;

				padding: 10px;
				padding-left: 20px;
				padding-right: 20px;

				background: $main-color;

				color: $back-color;

				border: 2px solid $back-color;
				
				transition: all 0.2s ease-in;

				&:hover {
					background: white;

					color: $main-color;

					border: 2px solid $back-color;
				
					transition: all 0.2s ease-in;
				}

				@media (max-width: 695px) {
					width: 58px;

					padding-left: 10px;
					padding-right: 10px;

					margin-right: 50px;
				}
			}
		}
	}

	/* CONTENTS */
	#contents {
		flex: 1;

		display: box;

		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

		flex-flow: row nowrap;
		box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-box-orient: horizontal;
		justify-content: center;
		align-items: stretch;

		/* MAIN CONTENTS */
		.main {
			width: $main-width;

			display: box;

			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

			flex-flow: row nowrap;
			box-orient: horizontal;
			-moz-box-orient: horizontal;
			-webkit-box-orient: horizontal;
			justify-content: space-around;
			align-items: stretch;

			box-shadow: 0px 0px 10px $box-shadow-color;

			box-sizing: border-box;

			padding-left: 12px;
			padding-right: 12px;
			padding-top: 20px;
			padding-bottom: 30px;

			background: white;

			.sidebar {
				width: $sidebar-width;

				display: box;

				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

				flex-flow: column nowrap;
				box-orient: vertical;
				-moz-box-orient: vertical;
				-webkit-box-orient: vertical;

				a {
					padding-top: 5px;
					padding-bottom: 15px;
					
					font-size: 22px;

					transition: all 0.2s ease-in;

					&:hover {
						color: black;

						padding-left: 10px;

						transition: all 0.2s ease-in;
					}
				}

				a:first-child {
					padding-top: 30px;
				}
			}

			/* ARTICLE CONTENTS */
			.article {
				width: $article-width;

				box-shadow: 0px 0px 10px $box-shadow-color;

				box-sizing: border-box;

				padding-left: 12px;
				padding-right: 12px;
				padding-top: 20px;
				padding-bottom: 30px;

				background: white;

				h3 {
					font-size: 26px;					
					color: $main-color;
					margin-top: 10px;
					margin-bottom: 20px;
				}

				h2 {
					font-size: 35px;
					color: $main-color;
				}

				.blockquote {
					font-weight: 400;
					color: black;
					margin: 40px;
					text-align: justify;
					line-height: 40px;
				}

				.signature {
					font-weight: 400;
					color: black;
					margin-bottom: 40px;
					text-align: right;					
				}

				.steps {
					h1 {
						font-size: 24px;
					}					

					.finish-line {
						font-size: 28px;
					}

					.finish-img {
						width: 700px;
						margin: 40px;
					}

					.wordcount {						
						color: gray;
						font-size: 18px;
						font-weight: 400;
						margin-left: 60%;
						text-align: right; 
					}

					.subl {
						color: gray;
						width: 250px;
						margin-bottom: 40px;
					}
					.column {
						display: box;

						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */						
						flex-flow: column wrap;
						box-orient: vertical;
						-moz-box-orient: vertical;
						-webkit-box-orient: vertical;

						textarea {
							width: 100%;
							max-width: 600px;
							height: 260px;

							font-size: 18px;
						}
					}

					.row {
						display: box;

						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */						
						flex-flow: row wrap;
						box-orient: horizontal;
						-moz-box-orient: horizontal;
						-webkit-box-orient: horizontal;

						&.pair {
							justify-content: flex-start;
							align-items: stretch;

							margin: 5px;

							h2 {
								font-weight: 400;
								font-size: 18px;
								width: 300px;
							}

							input {
								width: 200px;
							}

							select {
								width: 213px;
							}
						}
					}

					.title {
						margin-bottom: 50px;
					}

					input[type='email'], input[type='password'] {
						width: 300px;
						margin: 5px;
					}

					button {
						width: 310px;
						padding-left: 20px;
						padding-right: 20px;
						margin: 5px;
					}

					.center {
						align-items: center;
					}

					.step {
						margin-bottom: 150px;
					}
				}

				/* FORM */
				.form {
					padding: 20px;
				}

				/* HEADER */
				h1 {				
					margin-top: 10px;

					color: $main-color;
					text-shadow: 0 -1px 2px $text-shadow-color;
				}

				h2 {
					margin-top: 15px;
				}

				input, button {
					padding: 5px;
					font-size: 18px;
				}

				/* PARAGRAPH */
				p, ul {
					font-weight: 300;
					font-size: 20px;
					line-height: 32px;

					margin-left: 10px;
					margin-right: 10px;

					padding-bottom: 10px;

					text-align: justify;
				}

				ul {
					margin-left: 20px;
				}

				li {
					margin-left: 10px;
				}
				/* STRONG LETTERS */
				strong {
					text-shadow: 0px 0px 2px $box-shadow-color;
				}

				/* MAIN CAPTION */
				.caption {
					margin-bottom: 30px;
					text-shadow: 0px 0px 5px $box-shadow-color;
					padding-left: 10px;
				}
	 
				/* INLINE IMAGE */
				.inline-left {
					float: left;
					max-width: 500px;
					padding-left: 20px;
					padding-right: 20px;
				}

				.inline-right {
					float: right;
					max-width: 500px;
					padding-left: 20px;
					padding-right: 20px;
				}

				.tight {
					max-width: 400px;
				}
				
				.void {
					padding-bottom: 10px;
				}

				.double {
					columns: 2;
					-webkit-columns: 2;
					-moz-columns: 2;
				}

				.grow-flex {
					width: 100%;
					height: auto;
				}

				.bank-details p {
					padding-left: 20px;
					font-weight: bolder;
				}

				.check {
					font-style: italic;
					color: gray;
				}
			}
		}
	}

	/* FOOTER */
	#footer {
		height: 330px;

		display: box;

		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

		flex-flow: row nowrap;
		box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-box-orient: horizontal;
		justify-content: center;
		align-items: stretch;

		/* MAIN FOOTER */
		.main {
			width: $main-width;

			box-shadow: 0px 0px 10px $box-shadow-color;

			background: $main-color;

			display: box;

			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

			flex-flow: row nowrap;
			box-orient: horizontal;
			-moz-box-orient: horizontal;
			-webkit-box-orient: horizontal;
			justify-content: space-around;

			padding-top: 20px;

			* {
				color: white;
			}

			a {
				color: $back-color;

				&:hover {
					color: $dark-back-color;
				}
			}

			h2 {
				margin-bottom: 10px;
			}

			.media {
				width: 200px;

				padding-left: 20px;

				display: box;

				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

				flex-flow: column nowrap;
				box-orient: vertical;
				-moz-box-orient: vertical;
				-webkit-box-orient: vertical;

				a {
					padding: 5px;
				}
			}

			.tweets {
				width: 400px;

				padding-left: 20px;
			}

			.admin {
				width: 200px;

				display: box;

				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

				flex-flow: column nowrap;
				box-orient: vertical;
				-moz-box-orient: vertical;
				-webkit-box-orient: vertical;

				a {
					padding: 5px;
				}

				p {
					margin-bottom: 10px;
				}
			}
		}
	}

	/* UNDERLINE */
	#underline {
		min-height: 60px;

		display: box;

		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

		flex-flow: row nowrap;
		box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-box-orient: horizontal;
		justify-content: center;
		align-items: stretch;

		.main {
			width: $main-width;

			background: $dark-main-color;

			box-shadow: 0px 0px 10px $box-shadow-color;
		}
	}
	
}
