
.content
  %h3.blockquote
    :plain
      “I had not fully realized in 1932… how profoundly the social structure of civilization has been shaken by scientific, engineering, and industrial development. <strong>This radical change — from an established to an adaptive social order — has brought into being a host of new and unanticipated problems for the individual worker.</strong>”
  %h3.signature
    :plain
      Elton Mayo, <em>The Social Problem of an Industrial Civilization</em>
  
  :plain
    <p>In our world of innovation, automation, and change, we can no longer bring up our young people to be job seekers.  The adaptive world order of the 21st Century needs job creators—people who can create jobs for themselves and for others; not once, but again and again throughout their lives.</p>

    <h3>An entrepreneurial mindset is valuable everywhere</h3>

    <p>ExL stands for "Experiential Learning." The ExL University program builds the skills that form the core of an entrepreneurial mindset: critical thinking, problem solving, execution-focus, collaboration, leadership, and communication. These also happen to be the skills most sought by companies when hiring.  Our core focus is to change how people see. We want our students to adopt a new mindset that enables them to become opportunistic problem-solvers who bring a discipline of value-creating innovation and effective execution to whatever they do.</p>

    <h3>ExL doesn't teach</h3>

    <p>"The one who is doing the work is the one who is doing the learning" is a well-known principle in the psychology of human learning. A kindergarten poster said it best: "Learning is 5% hearing, 10% seeing, and 85% doing." Based on over ten years of development and experience at Dartmouth College and its Tuck School of Business, ExL helps people learn the skills they need to create jobs in all kinds of settings — in new enterprises, in existing companies, in social ventures and nonprofits — through:</p>
    <ul>
      <li class="void">a global program of core business courses including human-centered design/innovation, entrepreneurship, accounting, finance, marketing, management, law & arbitration (hearing – 5%)</li>
      <li class="void">a network of mentor relationships and speakers presenting their own case histories (seeing – 10%)</li>
      <li class="void">a cycle of human-centered design innovations and project work in multiple locations globally (doing – 85%)</li>
    </ul>