
.caption
  %h2 Who Should Apply?

.content
  :plain
    <p>The LEaD program exposes students to the skills that form the core of an entrepreneurial mindset—critical thinking, problem solving, leadership, and communication. These also happen to be the skills most sought by companies when hiring.  LEaD will be useful for anyone with or without previous entrepreneurial experience:</p>
    <ul>
      <li class="void">Students and others who would like to learn more about entrepreneurship or develop their entrepreneurial ideas.</li>

      <li class="void">Business people and other professionals who want to develop entrepreneurial aptitudes or actually implement innovations for spin-out from their companies.</li>

      <li class="void">Civic leaders and others who want to understand more about leadership and entrepreneurship</li>

      <li class="void">Entrepreneurs and employees of early-stage companies who want to deepen their experience and knowledge base.</li>
    </ul>
%img.inline-right.tight{:src => "/images/students3.jpg"}
.content
  :plain
    <p>There is no <strong>ideal</strong> applicant. You will be likely to succeed in our program if you:</p>
    <ul>
      <li class="void">Want to learn and create, to try things you've never tried before without knowing in advance if they will work out.</li>

      <li class="void">Are motivated by achievement and creating value in fast-moving and unstructured settings.</li>

      <li class="void">Like to take initiative and chafe at too much structure or hierarchy.</li>
    </ul>    
    <p>Having an idea is NOT a prerequisite to succeeding in the LEaD program. You will learn that ideas are everywhere, how to identify and evaluate them, and that ideas without execution are worth next to nothing.  Having a hunger to have impact, create value, and get things done with resources you don’t control are the keys to succeeding with us.</p>
    <p>The LEaD program is open to students and professionals college age and above.</p>

.caption
  %h2 Language Requirement

.content
  :plain
    <p>At GSD the language of instruction is English; proficiency in English is essential to success in this program.  In your application we will look for demonstrated English capability, by a TOEFL test score or live online interview.</p>

.caption
  %h2 Admissions and Tuition

.content
  :plain
    <p>There is a non-refundable 100 CHF fee to apply for this program.</p>
    <p>Tuition for LEaD is 3,600 CHF and includes all materials. Not included in program cost is travel, room or board. Geneva School of Diplomacy does not have on campus accommodations, but does assist summer course participants in finding different available options in external student residences and hotels in the center of Geneva. We advise the participants to the course to reserve for their accommodation as early as possible in order to get the best possible choices.</p>
    <p>If accepted, to secure their spot participants will need to submit a deposit of 1,200 CHF fifteen days after they've been notified of acceptance. Once accepted, applicants will be notified of final payment deadlines.</p>
    <p>Please note that students from certain countries need entry visas to Switzerland and need to apply for it as early as possible to make sure they get it in time for the course. The attestation of acceptance to the course needed for the visa process will be provided by GSD after payment of the course fees.</p>

.caption
  %h2 Application process

.content
  :plain
    <p>Admission to LEaD at the Geneva School of Diplomacy will be decided on a rolling basis beginning February 9, 2015. Cost to apply is 100 CHF.  Once accepted, applicants must submit a 1,200 CHF deposit to secure their spot in the program.</p>

.caption
  %h2 Payments

.content
  :plain
    <p>Payments for the course can be made by bank transfer only:</p>
    <p>Beneficiary’s bank:</p>
    <div class="bank-details">
      <p>UBS SA</p>
      <p>CASE POSTALE</p>
      <p>1260 NYON</p> 
      <p>SWITZERLAND</p>
      <p>SWIFT: UBSWCHZH8 0A</p>
      <p>IBAN (Account no.): CH46 0022 8228 5581 6401 Q</p>
      <p>Beneficiary: GENEVA SCHOOL OF DIPLOMACY</p>
    </div>
    <p><em>Please indicate the participant’s full name and the course registered for.</em></p>

.caption
  %h2 Apply early and save

.content
  :plain
    <p>Applicants who apply before 15 April and are accepted will receive a 10% discount on the total program cost.</p>

.caption
  %h2 2015 Key Dates

.content
  :plain
    <p><strong>9 February</strong> - Application opens</p>
    <p><strong>30 April</strong> - Early admission closes (10% discount on program cost)</p>
    <p><strong>1 June</strong> - Final admission closes</p>
    <p><strong>19 July</strong> - Program begins</p>
    <p>If LEaD at GSD sounds right for you, <strong><a href="/apply">APPLY HERE</a></strong>.</p>

