 
%script{:src => "/javascripts/apply.js"}

.content
  .steps
    #start-step.step.column
      %h1.title Step 1 of 6: Enter your e-mail and password to go on with your application:
      .column.center
        %input#start-step-email{:type => "email", :placeholder => "someone@something.com"}
        %input#start-step-password{:type => "password", :placeholder => "Something Secret"}
        %h4.subl The password you enter now will be saved in case you still don't have an account.
        .row 
          %button.next#start-step-next Save & Continue
    #info-step.step.column
      %h1.title Step 2 of 7: Give us some basic info about yourself:
      .column.center
        .row.pair          
          %h2 Name and surname (as in passport):
          %input#info-step-name{:type => "text", :placeholder => "Name Surname"}
        .row.pair
          %h2 Date of birth:
          %input#info-step-date{:type => "date"}
        .row.pair
          %h2 Mailing address:
          %input#info-step-mailing-address{:type => "text", :placeholder => "83 My Street, My City"}
        .row.pair
          %h2 Country of origin (as in passport):
          %input#info-step-country{:type => "text"}
        .row.pair
          %h2 Highest level of education:
          %select#info-step-edu
            %option{:value => "some-college"} Some College
            %option{:value => "undergraduate"} Undergraduate Degree
            %option{:value => "some-grad-deg"} Some Graduate Degree
            %option{:value => "graduate"} Graduate Degree
        .row
          %button.back#info-step-back Back
          %button.next#info-step-next Save & Continue

    #story-step.step.column
      %h1.title Step 3 of 7: Tell us your story in no more than 750 words:
      .column.center
        %h4.wordcount Words: 0 
        %textarea.story#story-step-story
        .row
          %button.back#story-step-back Back
          %button.next#story-step-next Save & Continue  
    #why-step.step.column
      %h1.title Step 4 of 7: Why do you want to participate in this program? (max. 500 words)
      .column.center
        %h4.wordcount Words: 0 
        %textarea.story#why-step-story
        .row
          %button.back#why-step-back Back
          %button.next#why-step-next Save & Continue
    #entrpr-step.step.column
      %h1.title Step 5 of 7: How do you define <em>entrepreneurial</em>? Give an example. (max. 500 words)
      .column.center
        %h4.wordcount Words: 0 
        %textarea.story#entrpr-step-story
        .row
          %button.back#entrpr-step-back Back
          %button.next#entrpr-step-next Save & Continue
    #learn-step.step.column
      %h1.title Step 6 of 7: What do you think you will learn? (max. 500 words)
      .column.center
        %h4.wordcount Words: 0 
        %textarea.story#learn-step-story
        .row
          %button.back#learn-step-back Back
          %button.next#learn-step-next Save & Continue
    #what-now-step.step.column
      %h1.title Step 7 of 7: What are you planning to do after LEaD? (max. 500 words)
      .column.center
        %h4.wordcount Words: 0 
        %textarea.story#what-now-step-story
        .row
          %button.back#what-now-step-back Back
          %button.next#what-now-step-next Finish
    #thanks-step.step.column
      %h1.finish-line Congratulations! Your application is almost complete!
      %h2
        :plain
          <p>In order to have your application reviewed, please continue by submitting a non-refundable application fee (100 CHF) in the next 10 days. You should receive this information by mail shortly.</p>
          <p>Beneficiary’s bank:</p>
          <div class="bank-details">
            <p>UBS SA</p>
            <p>CASE POSTALE</p>
            <p>1260 NYON</p> 
            <p>SWITZERLAND</p>
            <p>SWIFT: UBSWCHZH8 0A</p>
            <p>IBAN (Account no.): CH46 0022 8228 5581 6401 Q</p>
            <p>Beneficiary: GENEVA SCHOOL OF DIPLOMACY</p>
          </div>
          <p>Please indicate the participant’s full name and the course registered for.</p>
      %h1.title Thank you for applying to the LEaD Summer Program!
    #already-in.step.column
      %h1.finish-line Congratulations! You have already registered for LEaD!
      %h2
        :plain
          <p>Make sure you've read the mail you've received after registering and submitted the application fee following the instructions in said mail. We will contact you once your application is reviewed.</p>
      %img.finish-img{:src => "/images/Class outdoor.jpg"}
      %h1.title Thank you for applying to the LEaD Summer Program!
