
.caption
  %h2 Colum de Sales Murphy

.content
  %img.inline-right{:src => "/images/de sales murphy.jpg"}
  :plain
    <p>Colum de Sales Murphy is the President of the Geneva School of Diplomacy and International Relations. A native of Ireland, Mr. de Sales Murphy has more than 30 years of experience in diplomacy. He has specialized in the study of the roots of war and conflict and has served the cause of peace with the United Nations and the European Union. He served in the field of peace negotiation in several wars, including those of Somalia, Liberia, the former Yugoslavia and numerous other conflicts. During the war Mr. de Sales Murphy was United Nations Deputy Head of Political Affairs inside Bosnia.</p>

    <p>After the conflict he served in that country as Spokesman of the international community. He has served the United Nations in many capacities over several decades: in the Security Council, as Special Assistant to the UN Secretaries-General, as a Political Officer and as a Human Rights Officer.</p>

    <p>In 2003 Mr. de Sales Murphy founded the Geneva School of Diplomacy and International Relations. The courses he has taught include: War and Diplomacy; Leadership and Negotiation; Political Philosophy; International Economics; Sociology; Comparative Foreign Policy; and Foreign Affairs and Today’s News. His studies in International Relations were pursued in Ireland, at Harvard University’s Kennedy School of Government, and at the University of Geneva. In addition to Aza Beast, his publications include <strong>In Courage-Dreams Caught</strong> (poetry) and <strong>Sarajevo: Snapshot by Candlelight</strong> (a novel).</p>

.caption
  %h2 Gregg Fairbrothers

.content
  %img.inline-left{:src => "/images/fairbrothers.jpg"}
  :plain
    <p>For the past fourteen years, Gregg Fairbrothers has been the founding director of the Dartmouth Entrepreneurial Network, Dartmouth College, an adjunct professor of Business Administration in entrepreneurship at the Tuck School of business at Dartmouth College. In 2004 he founded the Dartmouth Regional Technology Center (DRTC), Inc. a free-standing New Hampshire non-profit corporation which operates a 55,000 sq. ft. technology incubator facility developing technology-based innovations with the potential for significant social impact. He is a founder and chair of currently active technology companies in solid state semi-conductors, biotechnology, medical information technology.</p>

    <p>Mr. Fairbrothers has more than 22 years experience in almost all operational and investment-related aspects of the upstream oil and gas industry, including exploration, exploitation, production, marketing, acquisitions and divestment, joint ventures, and corporate finance through banks, multi-lateral institutions, limited partnerships and public markets (including IPOs and unsolicited purchases). Prior to returning to the Upper Valley in 1999, he was President and founder of a mid-sized international oil and gas producer, Samson International, Ltd., as well as president of Samson Resources, Inc., and a director of the companies’ parent holding company, Samson Investment Company.</p>

    <p>Mr. Fairbrothers sits on a number of for-profit and non-profit boards as a chair, director or trustee. He graduated Dartmouth magna cum laude in 1975 with a B.A. in Earth Sciences. He also earned an M.S. degree from Rutgers University in Geology in 1977, and an MBA from the University of Tulsa in 1983.</p>

.caption
  %h2 Gazmend Haxhia

.content
  %img.inline-right{:src => "/images/haxhia.jpg"}
  :plain
    <p>Gazmend Haxhia is the President of Albania-based ASG sh.p.k., a group of Companies with interests in car business- GM, car rental-AVIS, travel management and publishing business (in your pocket series for Balkans). He is an Associate Faculty Member for Entrepreneurship and Practicing Management at IEDC-Bled School of Management. Since 2006, Mr. Haxhia has been External Adviser to the Speaker of the Parliament of the Republic of Albania.</p>

    <p>Mr. Haxhia is a multiple founder and entrepreneur: he is Co-founder and Co-Chairman of ACMS-Albanian Centre for Management Services (the market leader in offering trainings and executive search services to the Albanian business community) and the Owner of Albania Experience Travel Company (the leading incentive and event organizer and travel company in Albania). He is a co-founder and shareowner of POLIS University offering Degrees in Architecture, Urban Planning and Art and Design, Tirana.</p>

    <p>He is also a lecturer in Leadership, Marketing Services and The Responsible Administrator (a course in ethics) at Tirana University and Nebraska University MBA/MPA Program. He is member of Business Advisory Council at Stability Pact, Advisory Board Member at Commercial Bank of Albania, POLIS University Board Member, Board of Trustees Member of the American University in Kosovo, a member of Young Presidents Organization and Board Member of CEEMAN management development association.</p>

    <p>He was elected as A Young Global Leader from DAVOS World Economic Summit in 2008 and is an active member of that community.</p>

    <p>Mr. Haxhia graduated from Tirana University, Faculty of Foreign Languages; he earned his MIA degree in International Affairs at Columbia University and further educated himself at INSEAD Fontainebleau and Harvard Business School.</p>

.caption
  %h2 Jean-Pierre Lehmann -- check

.content
  %img.inline-left{:src => "/images/Lehmann.jpeg"}
  :plain
    <p>Jean-Pierre Lehmann is Professor of International Political Economy at IMD and visiting professor in the Faculty of Business and Economics at Hong Kong University and at NIIT University in Neemrana, Rajasthan, India.</p>

    <p>His areas of special interest include globalization, global governance, trade and development, the role of business in reduction of poverty and inequality and the socio-economic, cultural, and business dynamics of Asia. He acts in various leading capacities in a number of public policy institutes and organizations, as an adviser to governments and corporations, and as a frequent commentator in the international media. He is the author of several books and numerous articles and papers primarily dealing with globalization, modern East Asian history and East Asia and the international political economy.</p>

    <p>In 1995, Professor Lehmann launched the <a href="http://www.imd.org/research/centers/eviangroup/index.cfm">Evian Group</a>, an international coalition of corporate, government, and opinion leaders, united by a common vision of enhancing global prosperity for the benefit of all by fostering an open, inclusive and equitable global market economy in a rules-based multilateral framework. The Evian Group has developed as a leading global voice on global trade and investment issues that acts as a forum for dialogue and a birth place of ideas; it also engages actively in advocacy to counter the forces of protectionism and chauvinism.</p>

    <p>Prior to joining IMD, Professor Lehmann’s academic and business careers encompassed activities in virtually all Asian and Western European countries, as well as North America.</p>

    <p>Previously, Jean-Pierre Lehmann was Associate Professor of International Business at INSEAD, Visiting Professor at the Bologna Center (Italy) of the Johns Hopkins University School of Advanced International Studies, twice Visiting Professor and Japan Foundation Fellow at the University of Tohoku (Japan), and founding director of the Center for Japanese Studies at the University of Stirling (Scotland), where he also taught East Asian history. He also directed the EC-ASEAN 'Transfer of Technology and Socio-Economic Development Programs' (1981-1986).</p>

.caption
  %h2 Jon Mark Walls -- check

.content
  %img.inline-right{:src => "/images/walls.jpg"}
  :plain
    <p>Jon Mark Walls is a social entrepreneur, lecturer and speechwriter who is driven by the idea that better communication can lead to better politics. Having worked for the United Nations as well as various governments and NGOs, he is currently the CEO of GovFaces which seeks to improve interactive communication between citizens and representatives. Based in Geneva, Switzerland, Jon Mark has sought to blend traditional communications approaches with new technologies and develop ways of delivering these across the full spectrum of social, cultural and political environments.</p>

.caption
  %h2 Vllaznim Xhiha

.content
  %img.inline-left{:src => "/images/xhiha.png"}
  :plain
    <p>Vllaznim Xhiha co-founded Newave Energy Holding SA in 1993, and served as its Chief Executive Officer from July 20, 2010 to December 31, 2010. Mr. Xhiha also served as Chief Executive Officer of Newave Energy Holding SA from 1993 to November 1, 2009 and as Member of Executive Board until 2009. He served as Sales and Marketing Manager of UPS manufacturer Invertomatic SA (now IMV Invertomatic SA) since 1991. He has been Chairman at Newave Energy Holding SA since 2010. He joined UPS in 1985. From 1981 to 1985, he was a member of the Supervising Engineers for the construction of the water treatment plant and water distribution network for the town of Prishtina. He began his professional career as an Assistant and Lecturer at the Technical Institute of Technology of Prishtina from 1976 to 1980. Mr. Xhiha has been Non Executive Director of Newave Energy Holding SA since November 1, 2009. He served as an Executive Director of Newave Energy Holding SA (originally of Newave SA) from 1993 to November 1, 2009. Mr. Xhiha holds a Master's Degree in Electrical Engineering from the Swiss Federal Institute of Technology (ETH) in Zürich.</p>

.caption
  %h2 Wouter Savrij Droste -- check

.content
  %img.inline-right{:src => "/images/savrij-droste.png"}
  :plain
    <p>Wouter Savrij Droste is an entrepreneur supporting start-ups to be effective in sustainable, innovative business. Motivating and supporting entrepreneurs and students to succeed new future-focussed business models belongs to his deepest passion. He has around 12 years of international business experience in industry, services and also the World Economic Forum. At the World Economic Forum he was challenged in various roles, such as Head of Strategic Planning and Finance. His interest for world-wide macro-economic and political urging issues were fed at different top-notch global events, including Davos 2003 till 2010. In 2004 he started teaching in Geneva aside of his main duties in financial management at the Forum in Geneva and later New York City. Topics like Social Entrepreneurship and also Sustainability at Bachelor and Master Level were courses Wouter enjoyed teaching. Currently advising different impact organisations, businesses and individuals to ensure that our small efforts will lead to larger social ànd business benefits.</p>

    <p>Prof. Wouter holds a Bachelor in Marketing & Commerce from HEC Maastricht, Sittard; a MBA from Business School Lausanne and continued education in Strategic Finance at IMD, Lausanne.</p>