
%h2.void When is the program, how much does it cost, and where?
.content
  :plain
    <p>July 19-31, 2015 in Geneva Switzerland. Château de Penthes, 18, chemin de L'Impératrice, 1292 Pregny/Geneva, Switzerland. Program fee is 3,200 CHF, not including travel, room or board. See <a href="/admission"><strong>here</strong></a> for more details.</p>

%h2.void What isn't covered by program fee?
.content
  :plain
    <ul>
      <li class="void">Travel and personal expenses.  Please note that students from certain countries need entry visas to Switzerland and need to apply for it as early as possible to make sure they get it in time for the course. The attestation of acceptance to the course needed for the visa process will be provided by GSD after payment of the course fees.</li>
      <li class="void">Accommodation and meals in Geneva (we are here to help you find a place to stay). Geneva School of Diplomacy does not have on campus accommodations, but does assist summer course participants in finding different available options in external student residences and hotels in the center of Geneva. We advise the participants to the course to reserve for their accommodation as early as possible in order to get the best possible choices.</li>
      <li class="void">Health and travel insurance during the duration of the program</li>
    </ul>

%h2.void Can I transfer credits to my University?
.content
  :plain
    <p>We will assist you if you would like to petition for credit, however the summer program is not a course credit offering at GSD. Participants who complete the program will receive a certificate of participation, and for exemplary students there will be certificates of outstanding achievement.</p>

%h2.void Do you offer scholarships?
.content
  :plain
    <p>We have limited capacity to consider applications for support for students on a needs basis.</p>
