
.content
  %img.inline-right{:src => "/images/Chateau2.jpeg"}
  :plain
    <p>Ever had an <strong>idea</strong>, but didn’t know what to do next?</p>

    <p>Learn how the <strong>LEaD Summer Program</strong> can help you create a career out of your ideas and passions.</p>

    <p>Business success and social value are <a href="http://www.forbes.com/sites/greggfairbrothers/2012/06/18/success-and-social-value-do-they-really-mix/">not either-or</a> missions. Today, education that teaches young people to be job seekers fails to prepare them for the world of rapid change they are entering. The new need is for <strong>job creators</strong>. We need leaders who will create <strong>social value</strong> and successful enterprises -- not once, but again and again throughout their lives.  Learning to develop innovative ideas is not enough. To create value, leaders need to actualize ideas, build teams, and execute effectively.</p>

    <p>The Leadership, Entrepreneurship and Diplomacy (LEaD) at GSD program is a two-week residential program in Geneva, Switzerland that starts leaders on a path to becoming opportunistic problem-solvers who bring a discipline of value-creating innovation and effective execution to whatever they do. Our program and network of mentors show students how to develop success and social value.</p>

.caption
  %h1 WHERE: Geneva, Switzerland

.content
  :plain
    <p>Geneva is a global city, a worldwide center for diplomacy, ranked the ninth most important world  financial centre. It has the third-highest quality of life of any world, and is home to the highest number of international organizations in the world, including the several world agencies of the United Nations and its European headquarters, the International Labour Organization, the World Intellectual Property Organization, the World Trade Organization, and the World Economic Forum. The Geneva School of Diplomacy is located on the west shore of Lake Geneva, half a kilometer from the Palais de Nations, the Jardin Botanique, and the lake shore, and 3 kilometers from the old city centre.</p>

%img.grow-flex{:src => "/images/SwissAlps.jpg"}
