!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title LEaD Summer Program
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/ico"}
    %link{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

    %link{:href => "/pen/src/pen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/pen/src/pen.js"}
    %script{:src => "/pen/src/markdown.js"}

    %script{:src => "//code.jquery.com/jquery-1.11.2.min.js"}
    %script{:src => "//code.jquery.com/jquery-migrate-1.2.1.min.js"}
    %script{:src => "/javascripts/jquery.color.js"}

    %script{:src => "/javascripts/app.js"}

  %body
    #page{ :src => @page_name }
    #container
      #header
        .main
          .logo
            %a{:href => "/"}
              %img{:src => "/images/lead.png"}
          .menu
            %a{:href => "/about"}
              #admission-button.button About ExL University
            %a{:href => ""}
              #programs-button.button Our Programs
            %a{:href => "/contact"}
              #contact-button.button Contact
      #banner
        .main
          %h1 EXL-GSD LEaD Summer Program // July 19-31, 2015
          %a{:href => "/apply"}
            #apply-button.button Apply!
      #contents
        .main
          .sidebar
            %a{:href => "/"}
              #home-button.button Home
            %a{:href => "/admission"}
              #admission-button.button Admission
            %a{:href => "/curriculum"}
              #team-button.button Curriculum
            %a{:href => "/faculty"}
              #faq-button.button Faculty
            %a{:href => "/faq"}
              #contact-button.button FAQ

          .article
            .content{:id => ("editor" unless @changing.nil?)}
              =yield

            - unless @changing.nil?
              %button#save-button.button{:contenteditable => "false"} Save Page          
              %script{:src => "/javascripts/save_page.js"}
      #footer
        .main
          .tweets
            %h2 Tweets
            :plain
              <a class="twitter-timeline" width="400" height="200" href="https://twitter.com/hashtag/entrepreneur" data-widget-id="562042288940285954">#entrepreneur Tweets</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          .media
            %h2 LEaD at...
            %a.facebook{:href => "https://www.facebook.com/exluniversity?fref=ts"} @facebook
          .admin
            %h2 Dashboard
            - if session[:user].nil?
              %a{:href => "/login"} Login
            - else
              %p
                = "Welcome, #{session[:user]["name"]}!"
              %a{:href => "/#{@page_name}/change"} Edit page
              %a{:href => "/logout"} Logout
      #underline
        .main