
%h1 Login

%form.form{ :method => "post", :action => "attempt_login" }
  %input#login-username{:type => "text", :name => "username", :placeholder => "Mail"}
  %input#login-password{:type => "password", :name => "password", :placeholder => "Password"}
  %input#login-submit{:type => "submit", :value => "Submit"}
